.mybrand {
    font-size: 1.5em;
}


.navfont {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}

.content{
    place-items: center;
    align-items: center;
}

.centerstage {
    margin-left: auto;
    margin-right: auto;
}

.postdate {
    text-align: center;
}

.posttitle {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    text-align: center;
}

.postcontent {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
}

.loginform {
    font-family: 'Bebas Neue', cursive;
    display: grid;
    place-items: center;
    inline-size: 24em;
    margin-inline: auto;
    max-inline-size: 90%;
}

.postform {
    font-family: 'Bebas Neue', cursive;
    display: grid;
    place-items: center;
    inline-size: 50em;
    margin-inline: auto;
    max-inline-size: 55%;
}

.commentform {
    font-family: 'Barlow Condensed', sans-serif;
    display: grid;
    place-items: center;
    inline-size: 50em;
    margin-inline: auto;
    max-inline-size: 40%;
}


.btn-comment{
    font-family: 'Bebas Neue', cursive;
}